body {
    font-family: 'Courier New', 'Courier', 'monospace';
    margin: 0;
    background-color: #eae0cf;
}

/*******
* Grid *
********/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

/*******************
* Universal Header *
*******************/
header {
    color: #eae0cf;
    background-color: #213448;
    padding: 10px 30px;
    align-items: center;
}

header h1 {
    grid-column: span 3;
}

header nav {
    grid-column: 4 / span 9;
    justify-self: end;
}

header nav a {
    padding: 24px;
    text-decoration: none;
    color: #eae0cf;
}

/******************************
* For the Login / Signup Form *
******************************/
fieldset {
    border: none;
}

legend {
    text-align: center;
    margin: 10px 0;
}

input[type=submit] {
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
    max-width: auto;
    font-weight: bold;
    color: #eae0cf;
    background-color: #94b4c1;
    border: none;
}

input[type=submit]:hover {
    background-color: #849fab;
    border: 1px solid black;
}

/* Styling outside the form container */
.container-form-outer {
    font-size: 14px;
    padding: 30px;
    font-weight: bold;
}

/* Style container for the FORM */
.container-form-outer p {
    text-align: center;
}

.container-form-inner {
    justify-self: center;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    color: #eae0cf;
    padding: 50px;
    margin-top: 5%;
    background-color: #547792;
}

.container-form-field {
    display: flex;
    flex-flow: column nowrap;
}

.container-form-field input[type=text], 
.container-form-field input[type=password] {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px
}

/* Profile Attempt */
.moview-review-container {
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    flex-flow: column nowrap;
    background-color: #f6f2e7;
    padding: 20px;
}

.container-profile {
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 80%;
    display: flex;
    margin: 40px auto;
    flex-flow: column nowrap;
    background-color: #f6f2e7;
    padding: 20px;
    padding-bottom: 40px;
}

/* Add flex to container and center it*/
.container-flex {
    display: flex;
    justify-content: center;
}

/* Add 12 column grid to container*/
.container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.profile-title {
    padding-left: 5px;
}

.profile-details-info {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.profile-details-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 40px 0 0 40px;
}

.profile-details-info-text {
    margin: 40px 0 0 0;
}

.profile-details-info-text h3 {
    margin: 0;
    font-size: 20px;
}

.profile-details-info-text p {
    margin: 5px 0 0 0;
    color: gray;
    font-size: 10px;
}

.profile-details-about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    grid-column: 5/ span 8;
}

.profile-about-p-container {
    border: 1px solid black;
    border-radius: 6px;
}

.profile-about-p-container p {
    margin: 15px;
}

.profile-row-one {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.profile-first-name {
    grid-column: span 6;
}

.profile-last-name {
    grid-column: 7 / span 6;
}

.profile-row-two {
    grid-column: span 12;
}

.profile-row-three {
    grid-column: span 12;
}

.review-block {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    grid-column: span 4;
}

.watchlist-item {
    height: 80px;
    background-color: #ddd;
    border-radius: 4px;
    grid-column: span 2;
}

.review-block h3 {
    margin: 5px 0;
    font-size: 14px;
}

.review-block p {
    font-size: 14px;
    color: #555;
}

.stars{
    font-size: 14px;
    color: #f5b301;
}

.favorite-container {
    grid-column: span 3;
    
}

.favorite-container p {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

/* MOVIE PAGE */
.movie-container{
    max-width: 1100px;
    margin:40px auto;
}

.movie-container article{
    display:flex;
    flex-direction:column;
    gap:30px;
}


/* MOVIE INFO */
.movie-poster{
    height: 450px;
    background-color: #ddd;
    border-radius: 4px;
    grid-column: span 2;
}

.movie-info{
    background-color:#f6f2e7;
    padding:25px;
    border-radius:6px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

.movie-info h1{
    margin-top:0;
}

.movie-info h2{
    margin-top:20px;
    font-size:18px;
}

.movie-info p{
    line-height:1.5;
}

/* ADD RATING BUTTON */

.rating-button{
    display:flex;
    justify-content:flex-end;
}

.rating-button button{
    padding:8px 14px;
    background-color:#333;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

.browse-container {
    max-width: 1200px;
    margin: 20px auto; 
}

.browse-container p,h3 {
    word-wrap: break-word;
    margin: 10px 0;
}



/* REVIEWER INFO */
.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.reviewer-pic {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #666;
}

.reviewer-name {
    font-weight: bold;
    color: #333;
}

.review-date {
    font-size: 11px;
}

/* SIDEBAR */
.browse-sidebar {
    background-color: #f6f2e7;
    padding: 20px;
    border: 1px solid #ccc;
    grid-column: span 3;
    max-height: 200px;
}

.tag-group {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    display: inline-block; 
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 12px;
}

/* CONTENT AREA */
.browse-content {
    grid-column: span 9;
    flex-grow: 1;
}

.browse-top-bar {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.browse-search {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    grid-column: span 8;
}

.browse-add-btn {
    width: 100%;
    background-color: #213448;
    color: #eae0cf;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    grid-column: span 2;
}

.browse-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.browse-card {
    color: black;
    text-decoration: none;
    grid-column: span 3;
    margin: 1.5%;
    background-color: #f6f2e7;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; 
    border-radius: 8px;
    position: relative;
}


.browse-image-placeholder {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    margin-bottom: 10px;
    overflow: hidden;
}

.movie-image-img img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.card-href {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: block; 
    background-color: rgba(255, 0, 0, 0.5)
}

.short-text{
    display: none;
}


/* Footer */
footer hr {
    border: 0.5px solid black;
}

.footer-container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.footer-icons {
    grid-column: span 4;
}

.footer-icons img {
    padding-left: 10px;
}

.footer-links {
    grid-column: 5 / span 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.footer-links-texts {
    grid-column: span 3;
}

@media only screen and (max-width: 769px) {
    header h1 {
        grid-column: span 12;
        text-align: center;
    }

    header nav {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    /* PROFILE RWD */
    /* Profile texts */
    .profile-details-info { 
        grid-column: span 12;
    }

    .profile-details-info-img {
        grid-column: span 12;
        margin-left: 70px;
    }

    .profile-details-info-text {
        grid-column: span 12;
        text-align: center;
        margin-top: -20px;
    }

    .profile-details-about {
        grid-column: span 12;
    }

    .profile-first-name {
        grid-column: span 12;
    }

    .profile-last-name {
        grid-column: span 12;
    }

    /* Favorite movies */
    .favorite-container {
        grid-column: span 6;
    }

    .favorite-container img {
        width: 75%;
        display: flex;
        justify-self: center;
    }

    /* Review Block and Watchlist block */
    .watchlist-item {
        grid-column: span 6;
    }

    .review-block {
        grid-column: span 6;
    }

    /* FOOTER */
    .footer-icons {
        grid-column: span 12;
    }

    .footer-links {
        grid-column: span 12;
    }

    .footer-links-texts {
        grid-column: span 6;
    }

    /*MOIVE BROWSER*/

    .browse-sidebar{
        grid-column: span 12;
        margin-bottom: 20px;
    }

    .browse-content{
        grid-column: span 12;
    }

    .browse-card{
        grid-template-columns: span 6;
    }

    .full-text{
        display:none;
    }

    .short-text {
        display: inline-block;
    }


}

@media only screen and (max-width: 1280px) {
    /* PROFILE RWD */
    .favorite-container {
        grid-column: span 4;
    }

    .watchlist-item {
        grid-column: span 3;
    }

    .footer-links-texts {
        grid-column: span 6;
    }
    .profile-details-info {
        grid-column: span 12;
    }

    .profile-details-about {
        grid-column: span 12
    }
}